<div class="blog-cta"><hr><div class="blog-cta__content">Here is some dummy text, normally there would be a bit of blurb about a trend report</div><a class="blog-cta__cta">Download for free now!</a><hr></div>